* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Serif Pro';
}

.jumbotron {
    background: url('../img/library.jpeg');
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: white;
    border: 5px;
    border-color: rgb(3, 3, 3);
    border-style: outset;
    overflow: hidden;
}

.jumbotron h1 {
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.jumbotron h2 {
    margin: 0 0 0 0;
    font-size: 40px;
    line-height: 1;
}

.intro {
    padding-top: 140px;
}

nav.navbar.navbar-expand-lg fixed-top {
    position: fixed;
    top: 0;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-nav a {
    color: white!important;
    margin: 0 20px;
    margin-top: 30px;
}

.navbar-toggler {
    color: white!important;
    border: none!important;
    outline: none!important;
    background-color: black;
}

.navbar-toggler {
    color: white;
    font-size: 26px;
}

.fa fa-gamepad {
    color: white;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

#header .btn {
    border: 1px solid white;
    margin-top: 20px;
    padding: 6px 26px;
    font-size: 16px;
}

#header {
    transition: .5s;
}

#mainfooter {
    background-color:cadetblue;
    color: white;
    font-size: smaller;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

#getintouch {
    font-size: small;
    margin: 10px;
    width: 50%;
}

button {
    display: inline-block;
    background-color: black;
    border: none;
}

#copyright {
    position: absolute;
    bottom: 1px;
    right: 16px;
}

.content {
    width: 100%;
    margin-top: 0;
}

#main {
    height: 100vh;
    width: 100%;
    padding: 0 0 0 20px;
    border: none;
}

#main h2 {
    text-align: center;
    margin-bottom: 20px;
}

#main p {
    width: 50%;
    margin-bottom: 200px;
    margin-top: 50px;
}

#main2 img {
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#main2 section {
    height: 100vh;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main2 section h2 {
    font-size: 40px;
    margin: 16px 0;
}

#main2 section p {
    padding: 8px 0;
}

#section-heading {
    width: 400px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

#sidebar {
    height: 60vh;
    width: 40%;
    padding-top: 0px;
    padding-bottom: 20px;
    border: 1px;
    border-color: rgb(3, 3, 3);
    border-style: outset;
    overflow: hidden;
}

.gallery {
    background-color: darkblue;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width:1000px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .navbar-nav a {
        margin: 0px 5px 0 17px;
        margin-top: 30px;
    }
    .intro {
        padding-top: 130px;
        ;
    }
}

@media only screen and (max-width:600px) {
    .jumbotron h1 {
        font-size: 26px;
        line-height: 1.7;
    }
    .intro {
        padding-top: 100px;
    }
}